.Mobile-Projects-main-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.Desktop-Projects-main-container{
    display:none;
}




@media screen and (min-width:768px){
    .Desktop-Projects-main-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .Mobile-Projects-main-container{
        display:none;
    }
}