
.mobile-eductaion-heading{
    color:brown;
    font-size:25px;
    font-family:'Bree-serif';
    font-weight:bold;
    text-decoration:underline;
}

.mobile-eductaion-container{
    display:flex;
    background-image:linear-gradient(to bottom,#30fc03,#fcad03,#1c807c,white);
    height:15vh;
    width:80vw;
    border-radius:20px;
    list-style-type:none;
    border:4px #1c2680 solid;
    margin:8px;
    display:flex;
    justify-content:space-evenly;
}



.mobile-ed-heading{
    color:#1c2680;
    font-size:20px;

}

.eductaion-items{
    background-color:transparent;
    height:13vh;
    margin-left:10vw;
    width:65vw;
}

.mobile-ed-para1{
    color:#360628;
    font-size:15px;
}

.graduation-logo{
    padding-left:20px;
}