.Desktop-eductaion-main-heading{
    padding-top:13%;
    font-size:35px;
    font-weight:bold;
    text-decoration: underline;
    color:yellow;
    padding-right:14%;
    padding-right:17%;
    
}

.desktop-graduation-main-icon{
    margin-top:2%;
}

.Desktop-Education-Item-main-container{
    background-color:#ffffff;
    height:32%;
    width:70%;
    display:flex;
    list-style-type:none;
    justify-content:space-around;
    align-items:space-around;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
    margin-bottom:2%;
}

.desk-ed-main-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:transparent;
    height:80%;
    width:80%;
    margin-left:10%;
}

.desktop-list-items-ed-main-container{
    display:flex;
    flex-direction:column;
    width:70%;
    height:70%;
    background-color:transparent;
}

.Desktop-ed-list-main-container{
    background-color:transparent;
    width:120%;
    border:0px solid #ffffff;
    height:150%;
    

}

.ed-item-heading1-main{
    color:#3295a8;
    font-size:30px;
}

.ed-item-heading2-main{
    color:#a832a0;
    font-size:25px;
}
.ed-item-para1-main{
    font-size:20px;
}