.Mobile-MainEducation-main-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image:url("https://images3.alphacoders.com/589/589870.jpg")
}

.Desktop-MainEducation-main-container{
    display:none;
}







@media screen and (min-width:768px){
    .Mobile-MainEducation-main-container{
        display:none;
    }
    .Desktop-MainEducation-main-container{
        display:flex;
    }
    .Desktop-MainEductaion-container{
        height:90%;
        width:100%;
        margin-right:20%;
    }
    .Desktop-MainEducation-first-container{
        background-image:url("https://images3.alphacoders.com/589/589870.jpg");
        height:100vh;
        width:400vw;
    }
}