.Desktop-AboutMain-main-section{
    display:none;
}
.mobile-AboutMain-main-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.mobile-AboutMain-first-Container{
    background-image:url("https://thumbs.gfycat.com/ClutteredUnequaledBluet.webp");
    height:110vh;
    width:100%;
}




@media screen and (min-width:768px){
    .mobile-AboutMain-main-section{
        display:none;
    }

    .Desktop-AboutMain-main-section{
        display:flex;
        flex-direction:row;
    }
    .desktop-main-about-about-component{
        background-image:url("https://thumbs.gfycat.com/ClutteredUnequaledBluet.webp");
        height:100vh;
        width:400vw;
    }
}