.Desktop-aboutMain-image{
    width:65%;
    height:65%;
    max-width: 450px;
    margin-top:12%;
    background-color:transparent;
}


.aboutMain-para{
    color:#ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
    padding-top:10px;
    padding-left:5%;
    padding-right:5%;
}
.aboutMain-me-heading{
    color:yellow;
    font-size:35px;
    font-family:'Bree-serif';
    padding-top:10px;
    padding-left:20px;
    font-weight:bold;
    text-decoration: underline;
    padding-top:30px;
}
.Desktop-AboutMain-container{
    text-align:center;
}