.Desktop-about-image{
    width:85%;
    height:85%;
    max-width: 450px;
    margin-left:25%;
    margin-top:12%;
    margin-right:25%;
    background-color:transparent;
}


.about-para{
    color:#ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
    padding-top:10px;
    padding-left:20%;
    padding-right:15%;
}
.about-me-heading{
    color:yellow;
    font-size:35px;
    font-family:'Bree-serif';
    padding-top:10px;
    padding-left:20px;
    font-weight:bold;
    text-decoration: underline;
    padding-top:30px;
}


.Desktop-about-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:transparent;
    max-height:700px;
    max-width:1200px;
}