.mobile-about-image{
    max-height:50%;
    max-width:50%;
    border-top-left-radius:40%;
    border-top-right-radius:40%;
    border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
    border:5px solid yellow;
}

.mobile-about-para{
    color:#ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:12px;
    padding-left:10%;
    padding-right:10%;
}
.about-me-mobile-heading{
    color:#a80d97;
    font-size:27px;
    font-family:'Bree-serif';
    padding-top:10px;
    padding-left:20px;
    font-weight:bold;
    text-decoration: underline;
}
