.tech-stack-heading{
    text-align:center;
    color:blanchedalmond;
    font-size:35px;
    font-family:'Bree-serif';
    font-weight:bold;
    text-decoration:underline;
    padding-left:3%;
    padding-top:15%;
}

.desktop-section-title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.tech-image{
    height:100px;
    width:100px;
    border-radius:50%;
    
}
.TechnologyItem-container{
    background-color:transparent;
    height:60%;
    width:70%;
    display:flex;
    flex-wrap:wrap;
    list-style-type:none;
    justify-content:center;
    border:1px solid white;
    align-items:center;
    margin-left:10%;
}

.TechnologyItem-button{
    background-color:white;
    height:15%;
    width:90%;
    margin:20%;
    border:0px solid;
    font-size:18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:400;
    color:#540a0c;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.TechnologyItem-button:hover{
    background-color:black;
    height:160px;
    width:200px;
    border-radius:50%;
    border:4px yellow solid;
    transition-duration:2s;
    font-size:18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:400;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

