.mobile-projectsComponent-heading{
    color:#ffffff;
    font-size:30px;
    font-weight:bold;
    text-decoration:underline;
    padding-top:3%;
    text-align:center;
}

.mobile-projectsComponent-container{
    display:flex;
    flex-direction:column;
    background-color:#ffffff;
    height:100%;
    width:80%;
    border-radius:20px;
    list-style-type:none;
    border:4px #1c2680 solid;
    margin:8px;
    display:flex;
    justify-content:space-evenly;
}

.mobile-sub-projectsComponent-container{
    display:flex;
    background-color:transparent;
    flex-wrap:wrap;
    list-style-type:none;
}

.mobile-tech-Component-button{
    height:30px;
    width:100px;
    background-color: #360628;
    color:white;
    font-size:16px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:5px;
    border-radius:5px;
    border:3px white solid;
}

.mobile-tech-Component-button:hover{
    height:30px;
    width:100px;
    background-color:white;
    color:black;
    font-size:16px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:5px;
    border-radius:5px;
    border:3px black solid;
    transition-duration:2s;

}





.mobile-live-demo-Component-button{
    background-color:green;
    height:30px;
    width:130px;
    font-size:15px;
    color:wheat;
    border:0px solid;
    border-radius:5px;
    margin:5%;
}
.nav-mob-Component-link{
    font-size:15px;
    color:wheat;
    text-decoration:none;
}

.Mobile-ProjectsComponent-second-container{
    background-image:url("https://images3.alphacoders.com/589/589870.jpg");
    width:100%;
    height:110vh;

}
