.home-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
    margin-top:30px;
    align-self: center;
    margin-bottom:10px;
    background-color:transparent;
    height:80%;
    width:80%

}
.home-heading{
    color:whitesmoke;
}
.name-mobile-para{
    color:yellow;
}

.Home-mobile-container{
    display:flex;
    flex-direction:column;
}

.Home-Desktop-container{
    display:none;
}

.button-for-action{
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}

.hire-me-button:hover{
    background-color:blueviolet;
    transition-duration:2s;
    height:30%;
    width:140%;
    text-align:center;
    border:1px solid white;
    color:aquamarine;
    font-size:13px;
    border-radius:30px;
    margin-top:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.get-resume-button:hover{
    background-color: yellow;
    transition-duration:2s;
    height:30%;
    width:140%;
    text-align:center;
    border:1px solid white;
    color:black;
    font-size:13px;
    border-radius:30px;
    margin-top:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.get-resume-button a{
    text-decoration:none;
    color:black;
}


.hire-me-button{
    background-color:#34ebd2;
    height:30%;
    width:110%;
    text-align:center;
    border:1px solid white;
    color:black;
    font-size:13px;
    border-radius:30px;
    margin-top:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.get-resume-button{
    background-color:#d92a0f;
    height:30%;
    width:110%;
    text-align:center;
    border:1px solid white;
    color:white;
    font-size:13px;
    border-radius:30px;
    margin-top:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width:768px){
    .Home-mobile-container{
        display:none;
    }
    .Home-dekstop-main-container{
        background-color:transparent;
        width:100vw;
    
    }
    .home-desktop-content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin:auto;
        margin-top:50px;
        height:27vh;
        width:80vw;
        background-color:transparent;
        padding-left:50px;
    }
    .home-desktop-heading{
        color:whitesmoke;

    }
    .name-desktop-heading{
        color:yellow;
        font-size:35px;
    }
    .Home-Desktop-container{
        display:flex;
        align-items:flex-start;
    }
    

    .button-for-desktop-action{
        display:flex;

    }
    
    .hire-me-dektop-button{
        background-color:transparent;
        height:40px;
        width:180px;
        text-align:center;
        border:1px solid white;
        color:#ffffff;
        font-size:20px;
        border-radius:30px;
        margin-top:30px;
        margin-left:3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .get-resume-desktop-button{
        background-color:transparent;
        height:40px;
        width:180px;
        text-align:center;
        border:1px solid white;
        color:#ffffff;
        font-size:20px;
        border-radius:30px;
        margin-top:30px;
        margin-left:10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .hire-me-dektop-button:hover{
        background-color:blueviolet;
        color:aquamarine;
        width:250px;
        transition-duration:2s;
    } 
    
    .get-resume-desktop-button:hover{
        background-color: yellow;
        color:black;
        width:250px;
        transition-duration:2s;
    
    }
    
    .get-resume-desktop-button a{
        text-decoration:none;
        color:#ffffff;
    }

}
