.Mobile-Home-contact-container{
    background-color:#10325c;
    opacity:80%;
    height:120%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.Desktop-Home-contact-container{
    display:none;
    
}

.Mobile-contact-me-heading{
    color:aqua;
    font-size:25px;
}
.Mobile-contact-me-para{
    color:pink;
    padding-left:2%;
    padding-right:2%;
}
.mobile-email-button{
    margin-top:2%;
    border:0px solid;
    margin-bottom:2%;
    height:30%;
    width:40%;
}
.mobile-Telegram-icon{
    padding-left:5%;
}
.Social-media-mobile-buttons-container{
    height:30%;
    width:30%;
    display:flex;
    justify-content:space-around;
    align-items:space-around;
    background-color:transparent;
}
.Mobile-linkedin-button{
    height:20%;
    width:20%;
    background-color:transparent;
    border:0px solid;
}
.Mobile-github-button{
    height:20%;
    width:20%;
    background-color:transparent;
    border:0px solid;
    margin:2%;
    
}
.Desktop-Home-contact-main-container{
    display:none;
}

@media screen and (min-width:768px){
    .Mobile-Home-contact-container{
        display:none;
    }
    .Desktop-Home-contact-main-container{
        background-color:white;
        height:90%;
        width:90%;
    }
}