.mobile-main-tech-stack-heading{
    text-align:center;
    color:bisque;
    font-size:25px;
    font-family:'Bree-serif';
    font-weight:bold;
    text-decoration:underline;
    margin-top:10%;
}

.mobile-section-main-techstack-title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.mobile-main-tech-stack-image{
    height:35px;
    width:35px;
    border-radius:50%;
    
}
.mobile-main-tech-stack-TechnologyItem-container{
    background-color:transparent;
    height:60%;
    width:80%;
    border:1px white solid;
    display:flex;
    flex-wrap:wrap;
    list-style-type:none;
}

.mobile-main-tech-stack-TechnologyItem-button{
    background-color:white;
    height:80px;
    width:100px;
    margin:20px;
    border:0px solid;
    font-size:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:400;
    color:#540a0c;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.mobile-main-tech-stack-TechnologyItem-button:hover{
    background-color:black;
    height:80px;
    width:100px;
    margin:20px;
    border:4px yellow solid;
    transition-duration:2s;
    border:0px solid;
    font-size:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:400;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}