.TeschstackComponent-Desktop-container{
    display:none;
}

.TeschstackComponent-Mobile-container{
    display:flex;
    flex-direction:column;
}

.TechStackComponent-Mobile-second-container{
    background-image:url("https://thumbs.gfycat.com/ClutteredUnequaledBluet.webp");
    max-height:200vh;
    width:100%;

}
@media screen and (min-width:768px){
    .TeschstackComponent-Desktop-container{
        display:flex;
    }
    .TeschstackComponent-Mobile-container{
        display:none;
    }
    .TeschstackComponent-Desktop-sub-first-container{
        background-image:url("https://thumbs.gfycat.com/ClutteredUnequaledBluet.webp");
        height:100vh;
        width:400vw;
    }
    .TeschstackComponent-Desktop-sub-second-container{
        background-color:transparent;
        height:80%;
        width:150%;
        margin-right:30%;
    }
}
