.sidebar-Profile-pic img{
    border-radius:50%;
    margin-top:10px;
    height:50%;
    width:50%;
    display:flex;
    vertical-align:middle;
    margin: 0 auto;
    object-fit:cover;
    border:3px solid yellow;

}

.Nav-items li{
    color:white;
    list-style-type:none;
    cursor:pointer;
    margin-top:30px;
}

.Nav-items li svg{
    margin-right:25px;
    margin-left:10px;
}

.Nav-bar-items-only-icons ul li{
    margin-top:10px;
    cursor:pointer;
    list-style-type:none

}


.Nav-bar-items-only-icons ul li{
    margin-left:10px;
}